#header-message {
//    background-color: #eeddee;
    margin-bottom: 1px;
}

#text-body { 
    height: 100%;
    float: left; 
    padding-top: 15px;
    padding-left: 15px;
}

#action-panel { 
    position: fixed;
    right: 15px;
    top: 25px;
    width: 390px; 
    padding-top: 15px;
    padding-right: 0px;
}

#node-container {
    max-height: 600px;
    overflow: auto;
}

#actions, #cur-tag, #cur-pos, #debug {
    margin: 3px 0px;
}

small {
    font-size: small;
    color: gray;
    padding-left: 10px;
}

#debug-panel {
    display: none;
}

#debug {
    max-height: 400px;
    overflow: auto;
}

.source {
    font-size: 14px;
    line-height:1.5;
}

.cc,.dd,.ii,.ii,.pp,ss,.kk,.uu,.ee,.Elev {
    margin:1px;
}

.cc {
    border-bottom: 3px solid rgb(255,0,0); 
}

.dd {
    border-bottom: 3px solid rgb(255,128,0); 
}

.ii {
    border-bottom: 3px solid rgb(255,255,0); 
}

.pp {
    border-bottom: 3px solid rgb(0,255,0); 
}

.ss {
    border-bottom: 3px solid rgb(0,255,255); 
}

.kk {
    border-bottom: 3px solid rgb(0,0,255); 
}

.uu {
    border-bottom: 3px solid rgb(128,0,255); 
}

.ee {
    border-bottom: 3px solid rgb(128,128,255); 
}

.Elev {
    border-bottom: 3px solid rgb(0,0,0); 
}

#infok input {
    height: 28px;
}

.btn-group + .btn-group {
    margin-left: 0px !important;
}

.btn-group .btn {
    float: none !important;
}

#tree-view {
//    border: solid 1px black;
//    width: 60%;
//    position: fixed;
}

#tree-container, #node-container {
    clear: both;
    max-height: 100%;
    min-height: 400px;
    overflow: auto;
}

.ui-dialog {
    position: fixed;
}