    
    #conditions {
        padding: 0px;
        background: #dddeee;
    }

    #conditions .table {
        width: auto;
        font-size: small;
        border: 1px solid #888999;
        margin:5px;
    }
    
    #conditions .table th {
        padding: 2px;
        text-align: center;
    }
    #conditions .table td {
        padding: 2px;
        text-align: center;
        border-top: 0px;
    }
    #conditions input {
        width: 30px;
        height: 28px;
    }

    #conditions select {
        width: 60px;
    }

    #doch-cond input {
        width: 55px;
    }

    #bottom-half {
        margin: 0px;
        padding: 0px;
    }

    #filter-conditions {
        margin: 0px;
        padding: 10px;
        float: left;
        width: 20%;
    }

    #options select {
        height: auto;
        padding: 0px;
        margin-bottom: 0px;
        vertical-align: bottom;
    }
    
    #options .c-line {
        margin-bottom: 5px;
    }

    #options .c-line select {
        width: auto;
    }

    .navbar {
        margin-bottom: 0px;
    }

    #result {
        margin: 10px;
        padding: 5px;
        width: 60%;
        float: left;
        background: white;
    }

    #result a {
        cursor: pointer;
        cursor: hand;
    }

    #result ul {
        min-height: 350px;
        border: 1 solid #eeebbb;
    }

    #result-list button {
        padding: 0px;
        line-height: 14px;
    }

    #result ul li .curr {
        background-color: #ccceee;
    }

    #result ul li span:hover {
        background-color: #cccddd;
        cursor: pointer;
    }

    #result ul li strong {
        display: block;
        float: left;
        width: 30px;
        margin-right: 3px;
        color: blue;
        text-align: right;
        background-color: #eeefff;
    }

    #result .pag select {
        width: 40px;
        magin: 0px;
        padding: 0px;
        height: auto;
        vertical-align: baseline;
    }

    #result b {
        color: red;
    }

    .popup-menu {
        position: absolute;
        left: -1000px;
    }

    #action-menu .nav{
        margin: 0px;
        padding: 3px;
        background: #eeefff;
        border: 1 solid blue;
    }

    #action-menu .nav-pills > li > a {
        margin: 0px;
        padding: 3px;
    }

    .atag {
        color: red;
    }

    #src-doch {
        float: left;
        width: 250px;
        border-right: 1 solid #eeeeee;
        margin: 5px;
    }

    #src-doch ul { list-style: none; margin-right: 10px; margin-left: 10px}
    #src-doch ul li { }
    #src-doch ul li .title { display:block; text-decoration:none; 
                             color:#000000; background-color:#FFFFFF; line-height:26px;
                             border-bottom-style:solid; border-bottom-width:1px; 
                             border-bottom-color:#CCCCCC; padding-left:10px; 
                             cursor:pointer; }
    #src-doch ul li .title:hover { color: blue; }
    #src-doch ul li .title span { margin-left: 3px; background-color: #ddeeff; }

    #src-body {
        float: left;
        width: 600px;
    }