
#stat-info {
    margin: 20px;
}

#stat-info .table {
    margin-left: 20px;
    width: 600px;
}

#stat-info .table th {
    background-color: #111222;
    color: white;
}

#stat-info .table th, #stat-info .table td {
    text-align: center;
}

.ename {
    width: 15%;
}
.evalue {
    width: 15%;
}
.evalue i {
    padding-top:1px;
    padding-left:1px;
}
.evalue i:hover {
    background-color: red;
}
.eprogress {
    width: 70%;
}

.eprogress .progress {
    margin-bottom: 0px;
}