#tree-view {
    clear: both;
    height: 600px;
    margin: 10px;
    width: 95%;
}

#tree-body ul {
    list-style-type: square;
}

#tree-body ul li {
    display: block;
    width: 95%;
    height: 50px;
}

li.node-row {
    background-color: rgb(100,155,200);
}

li.svg-row {
    height: 50px;
    background-color: rgb(200,230,230);
}

.node {
    width: 50px; 
    height: 30px; 
    padding: 0.5em; 
    float: left; 
    margin: 3px;
    background-color: black;
    color: yellow;
}

.node circle {
    cursor: pointer;
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size: 13px;
}

path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

input{
    height: 24px ;
}