<div id="dialog-src">
  {% if not handler.is_guest() %}
  <button class="btn-fav">收藏</button>
  <hr/>
  {% end %}
  <div id="src-doch">
    <ul>
      <li><span class="title">T:<span class="doch-T"></span></span></li>
      <li><span class="title">Ku:<span class="doch-Ku"></span></span></li>
      <li><span class="title">SN:<span class="doch-SN"></span></span></li>
      <li><span class="title">CT:<span class="doch-CT"></span></span></li>
      <li><span class="title">LG:<span class="doch-LG"></span></span></li>
      <li>
        <span class="title">PA</span>
        <ul>
          <li>
            <span class="title">lawyerA:
              <span class="doch-lawyerA"></span>
            </span>
          </li>
          <li>
            <span class="title">lawyerB:
              <span class="doch-lawyerB"></span>
            </span>
          </li>
          <li>
            <span class="title">lawyerC:
              <span class="doch-lawyerB"></span>
            </span>
          </li>
          <li>
            <span class="title">judge:
              <span class="doch-judge"></span>
            </span>
          </li>
          <li>
            <span class="title">interpreter:
              <span class="doch-interpreter"></span>
            </span>
          </li>
          <li>
            <span class="title">partyA:
              <span class="partyA"></span>
            </span>
          </li>
          <li>
            <span class="title">partyB:
              <span class="partyB"></span>
            </span>
          </li>
          <li>
            <span class="title">partyC:
              <span class="partyC"></span>
            </span>
          </li>
          <li>
            <span class="title">testimonyA:
              <span class="testimonyA"></span>
            </span>
          </li>
          <li>
            <span class="title">testimonyB:
              <span class="testimonyB"></span>
            </span>
          </li>
          <li>
            <span class="title">testimonyC:
              <span class="testimonyC"></span>
            </span>
          </li>
          <li>
            <span class="title">audience:
              <span class="audience"></span>
            </span>
          </li>
          <li>
            <span class="title">authorwriter:
              <span class="authorwriter"></span>
            </span>
          </li>
          <li>
            <span class="title">quotesource:
              <span class="quotesource"></span>
            </span>
          </li>
          <li>
            <span class="title">recorder:
              <span class="recorder"></span>
            </span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div id="src-body">
  </div>
</div>

<div id="dialog-tree-canvas">
  <div id="tree-canvas">
  </div>
</div>

<div id="dialog-stat-result">
  <div id="stat-result">
  </div>
</div>

<div id="dialog-play-video">
  <div id="play-video">
    <div class="hipster-player" style="">
      <video autoplay>
        <source id="video-source" src="" />
      </video>
    </div>
  </div>
</div>

<script type="text/javascript">
   
  var videoAPI = null;
  var videoStopTimeout = null;

  $('#dialog-play-video').dialog({
      autoOpen: false,
      title: '播放视频',
      width: $(window).width()/2,
      height: $(window).height()/2,
      position: ['right','bottom'],
      close: function(){
          flowplayer().pause();
      }
  });

  $('#dialog-src').dialog({
      autoOpen: false,
      title: '原文',
      width: $(window).width()-100,
      height: $(window).height()-100
  });
  
  $('#dialog-tree-canvas').dialog({
      autoOpen: false,
      title: '图',
      width: $(window).width()-10,
      height: $(window).height()-10
  });
  
  $('#dialog-stat-result').dialog({
      autoOpen: false,
      title: '统计',
      width: $(window).width()-300,
      height: $(window).height()-20
  });
  
  function fillDoch(doch) {
      for(var name in doch) {
//          console.log(name);
          $('.doch-'+name).text(doch[name]);
      }
  }
  
  function on_show_src(metaid) {
      $.post('/show/src', {metaid: metaid}, function(data){
//          console.log(data.src);
          fillDoch(data.doch);
          $('.btn-fav').attr('metaid', metaid);
          $('#src-body').html('<pre>'+data.src+'</pre>');
      });
      $('#dialog-src').dialog('open');
  }
  
  function on_show_tree(metaid) {
      $('#tree-canvas').html('');
      $.post('/show/tree', {metaid: metaid}, function(data){
          console.log(data.tree);
          AnnoTree.renderByNode(data.tree, '#tree-canvas');
      });
      $('#dialog-tree-canvas').dialog('open');
  }

  function setupVideo(vfile) {
      $('#video-source').attr('src', '/static/video/'+vfile);
      var api = $(".hipster-player").flowplayer({ swf: "/static/lib/flowplayer/flowplayer.swf", engine: 'flash' });
      videoAPI = flowplayer();

      $('.kk').click(function(){
          var st = $(this).attr('startTime');
          var et = $(this).attr('endTime');

          clearTimeout(videoStopTimeout);

          if(st && typeof st != 'undefined') {
              $('#dialog-play-video').dialog('open');
              $('#dialog-play-video').dialog('moveToTop');
              if(!videoAPI.playing) {
                  videoAPI.toggle();
              }
              videoAPI.seek(st);
              videoStopTimeout = setTimeout(function(){videoAPI.pause();}, 
                                            (parseFloat(et)-parseFloat(st))*1000);
          }
      });
  }
  
  function on_show_taggedsrc(metaid) {
      $.post('/show/taggedsrc', {metaid: metaid}, function(data){
//          console.log(data.src);
//          console.log(transTags(data.src));
          fillDoch(data.doch);
          $('.btn-fav').attr('metaid', metaid);
          $('#src-body').html('<pre>'+transTags(data.src)+'</pre>');
          setupVideo(data.vfile);
      });
      $('#dialog-src').dialog('open');
  }

  function on_show_bodyxml(metaid) {
      $.post('/show', {action: 'bodyxml',
                       metaid: metaid}, 
             function(data){
                 $('.btn-fav').attr('metaid', metaid);
                 $('#src-body').html('<pre>'+transTags(data.xml)+'</pre>');
             });
      $('#dialog-src').dialog('open');
  }

  function on_show_headxml(metaid) {
      $.post('/show', {action: 'headxml',
                       metaid: metaid}, 
             function(data){
                 $('.btn-fav').attr('metaid', metaid);
                 $('#src-body').html('<pre>'+transTags(data.xml)+'</pre>');
             });
      $('#dialog-src').dialog('open');
  }
  
  function on_show_stat(metaidList) {
      if(metaidList.length == 0)
          return;

      $.post('/stat', 
             {'metaidList': metaidList.join(',')},
             function(data){
  //               console.log(data);
                 $('#stat-result').html(data);
                 $('#dialog-stat-result').dialog('open');
             });
  }
  
</script>
