<table class="table table-bordered">
  <thead>
    <tr>
      <th>父X</th>
      <th>父Y</th>
      <th>子X</th>
      <th>子Y</th>
      <th>信息元素</th>
      <th>信息点值</th>
      <th>默认值</th>
      <th>信息源</th>
      <th>被引用者</th>
      <th>L信息</th>
      <th>R[0]</th>
      <th>R[1]</th>
      <th>R[2]</th>
      <th>R[3]</th>
      <th>关键字</th>
      <th>Cate</th>
      <th>编号</th>
      <th>源序号</th>
      <th>名称</th>
      <th>值</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input name="pos0" type="text"/></td>
      <td><input name="pos1" type="text"/></td>
      <td><input name="pos2" type="text"/></td>
      <td><input name="pos3" type="text"/></td>
      <td>
        <select name="infoElement" id="infok-element">
	  <option value=""></option>
	  <option>KN</option>
	  <option>WT</option>
	  <option>WB</option>
	  <option>WF</option>
	  <option>WI</option>
	  <option>WP</option>
	  <option>WO</option>
	  <option>WN</option>
	  <option>WR</option>
	  <option>HW</option>
	  <option>WY</option>
	  <option>WE</option>
	  <option>WC</option>
	  <option>WA</option>
	  <option>WG</option>
	  <option>WJ</option>
        </select>
      </td>
      <td>
        <select name="infoValue" id="infok-value">
	  <option value=""></option>
	  <option>P</option>
	  <option>N</option>
	  <option>O</option>
        </select>
      </td>
      <td><input name="defaultValue" type="text"/></td>
      <td>
        <select name="src" id="infok-src">
	  <option value=""></option>
	  <option>A</option>
	  <option>B</option>
	  <option>C</option>
	  <option>J</option>
	  <option>j</option>
	  <option>I</option>
	  <option>O</option>
	  <option>S</option>
	  <option>P</option>
	  <option>Q</option>
	  <option>R</option>
	  <option>V</option>
	  <option>T</option>
	  <option>D</option>
	  <option>N</option>
	  <option>Z</option>
        </select>
      </td>
      <td>
        <select name="ref" id="infok-ref">
	  <option value=""></option>
	  <option>A</option>
	  <option>B</option>
	  <option>C</option>
	  <option>J</option>
	  <option>j</option>
	  <option>I</option>
	  <option>O</option>
	  <option>S</option>
	  <option>P</option>
	  <option>Q</option>
	  <option>R</option>
	  <option>V</option>
	  <option>T</option>
	  <option>D</option>
	  <option>N</option>
	  <option>Z</option>
        </select>
      </td>
      <td>
        <select name="L" id="infok-l">
	  <option value=""></option>
	  <option>A</option>
	  <option>B</option>
	  <option>C</option>
	  <option>E</option>
	  <option>O</option>
	  <option>D</option>
	  <option>a</option>
	  <option>b</option>
	  <option>c</option>
	  <option>e</option>
	  <option>o</option>
	  <option>d</option>
	  <option>R</option>
	  <option>S</option>
	  <option>T</option>
	  <option>Y</option>
	  <option>Z</option>
	  <option>U</option>
        </select>
      </td>
      <td><input name="R0" type="text"/></td>
      <td><input name="R1" type="text"/></td>
      <td><input name="R2" type="text"/></td>
      <td><input name="R3" type="text"/></td>
      <td><input name="keyword" type="text" style="width: 150px"/></td>
      <td>~</td>
      <td><input name="cateIndex"/></td>
      <td><input name="cateSrcIndex"/></td>
      <td><input name="cateInfoElementName"/></td>
      <td><input name="cateInfoElementValue"/></td>
    </tr>
  </tbody>
</table>
