<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand">语料标注</a>
      <ul class="nav">
        {% if handler.is_user() %}
        <li class="">
          <a href="/personal/anno">标注</a>
        </li>
        <li class="">
          <a href="/personal/fav">收藏</a>
        </li>
        <li class="">
          <a href="/personal/history">搜索记录</a>
        </li>
        <li class="">
          <a href="/personal/mine">我的标注</a>
        </li>
        {% end %}
        <li class="">
          <a href="/query">检索</a>
        </li>
        <li class="">
          <a href="/stat">统计</a>
        </li>
        {% if handler.is_admin() %}
        <li class="">
          <a href="/admin/pending">审核</a>
        </li>
        <li class="">
          <a href="/admin/user">用户管理</a>
        </li>
        <li class="">
          <a href="/admin/corpus">语料库</a>
        </li>
        {% end %}
        <li class="">
          <a href="/help">帮助</a>
        </li>
      </ul>
      <ul class="nav pull-right">
        {% if handler.is_guest() %}
        <li><a href="#">当前登录: 访客</a></li>
        <li class="divider-vertical"></li>
        <li><a href="/account/login">登陆</a></li>
        <li><a href="/account/register">注册</a></li>
        {% elif handler.is_user() %}
        <li><a href="#">当前登录: {{handler.name}}（普通用户）</a></li>
        <li><a href="#">积分: {{handler.user.get('score', 0)}}</a></li>
        <li><a href="/account/logout">退出</a>
        {% elif handler.is_admin() %}
        <li><a href="#">当前登录: {{handler.name}}（管理员）</a></li>
        <li><a href="/account/logout">退出</a></li>
        {% end %}
      </ul>
    </div>
  </div>
</div>
