<div id="stat-info">
{% if is_global %}
<table class="table table-condensed table-bordered table-striped">
  <thead>
    <th class="ename">语料库</th>
    <th class="evalue">数量</th>
  </thead>
  <tbody>
    {% for k,v in stat['corpus'].iteritems() %}
    <tr>
      <td>{{k}}</td>
      <td>{{v}}</td>
    </tr>
    {% end %}
  </tbody>
</table>
{% end %}
<table class="table table-condensed table-bordered table-striped">
  <thead>
    <th class="ename">信息元素</th>
    <th class="evalue">频次<i class="icon-arrow-up"></i><i class="icon-arrow-down"></i></th>
    <th class="eprogress"></th>
  </thead>
  <tbody>
    {% for k,v in stat['info_element'].iteritems() %}
    <tr val="{{v}}">
      <td>{{k}}</td>
      <td>{{v}}</td>
      <td class="eprogress">
        <div class="progress">
          <div class="bar" style="width: {{v*100/max_value}}%;">
          </div>
        </div>
      </td>
    </tr>
    {% end %}
  </tbody>
</table>
<table class="table table-condensed table-bordered table-striped">
  <thead>
    <th class="ename">信息点值</th>
    <th class="evalue">频次<i class="icon-arrow-up"></i><i class="icon-arrow-down"></i></th>
    <th class="eprogress"></th>
  </thead>
  <tbody>
    {% for k,v in stat['info_value'].iteritems() %}
    <tr val="{{v}}">
      <td>{{k}}</td>
      <td>{{v}}</td>
      <td class="eprogress">
        <div class="progress">
          <div class="bar"
               style="width: {{v*100/max_value}}%;">
          </div>
        </div>
      </td>
    </tr>
    {% end %}
  </tbody>
</table>
<table class="table table-condensed table-bordered table-striped">
  <thead>
    <th class="ename">信息源</th>
    <th class="evalue">频次<i class="icon-arrow-up"></i><i class="icon-arrow-down"></i></th>
    <th class="eprogress"></th>
  </thead>
  <tbody>
    {% for k,v in stat['src'].iteritems() %}
    <tr val="{{v}}">
      <td>{{k}}</td>
      <td>{{v}}</td>
      <td class="eprogress">
        <div class="progress">
          <div class="bar"
               style="width: {{v*100/max_value}}%;">
          </div>
        </div>
      </td>
    </tr>
    {% end %}
  </tbody>
</table>
<table class="table table-condensed table-bordered table-striped">
  <thead>
    <th class="ename">被引用者</th>
    <th class="evalue">频次<i class="icon-arrow-up"></i><i class="icon-arrow-down"></i></th>
    <th class="eprogress"></th>
  </thead>
  <tbody>
    {% for k,v in stat['ref'].iteritems() %}
    <tr val="{{v}}">
      <td>{{k}}</td>
      <td>{{v}}</td>
      <td class="eprogress">
        <div class="progress">
          <div class="bar"
               style="width: {{v*100/max_value}}%;">
          </div>
        </div>
      </td>
    </tr>
    {% end %}
  </tbody>
</table>
<table class="table table-condensed table-bordered table-striped">
  <thead>
    <th class="ename">L信息</th>
    <th class="evalue">频次<i class="icon-arrow-up"></i><i class="icon-arrow-down"></i></th>
    <th></th>
  </thead>
  <tbody>
    {% for k,v in stat['L'].iteritems() %}
    <tr val="{{v}}">
      <td>{{k}}</td>
      <td>{{v}}</td>
      <td class="eprogress">
        <div class="progress">
          <div class="bar"
               style="width: {{v*100/max_value}}%;">
          </div>
        </div>
      </td>
    </tr>
    {% end %}
  </tbody>
</table>
</div>

<script type="text/javascript">
    
  $('#stat-info .icon-arrow-up').click(function(){
      var tbody = $(this).parents('table').children('tbody');
      var trs = tbody.children('tr')
      
      trs.detach();
      trs.sort(function(a, b){
          return $(a).attr('val') - $(b).attr('val');
      });
      tbody.append(trs);
  });
  
  $('#stat-info .icon-arrow-down').click(function(){
      var tbody = $(this).parents('table').children('tbody');
      var trs = tbody.children('tr')
      
      trs.detach();
      trs.sort(function(a, b){
          return $(b).attr('val') - $(a).attr('val');
      });
      tbody.append(trs);
  });
</script>
