{% extends 'base.html' %}

{% block style %}
<style type="text/css">
  body{
      font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
      font-size:12px;
  }
  p, h1, form, button{border:0; margin:0; padding:0;}
  .spacer{clear:both; height:1px;}
  /* ----------- My Form ----------- */
  .myform{
      margin:0 auto;
      width:400px;
      padding:14px;
  }
  
  /* ----------- stylized ----------- */
  #stylized{
      border:solid 2px #b7ddf2;
      background:#ebf4fb;
  }
  #stylized h1 {
      font-size:14px;
      font-weight:bold;
      margin-bottom:8px;
  }
  #stylized p{
      font-size:11px;
      color:#666666;
      margin-bottom:20px;
      border-bottom:solid 1px #b7ddf2;
      padding-bottom:10px;
  }
  #stylized label{
      display:block;
      font-weight:bold;
      text-align:right;
      width:140px;
      float:left;
  }
  #stylized .small{
      color:#666666;
      display:block;
      font-size:11px;
      font-weight:normal;
      text-align:right;
      width:140px;
  }
  #stylized input{
      float:left;
      font-size:12px;
      padding:4px 2px;
      border:solid 1px #aacfe4;
      width:200px;
      margin:2px 0 20px 10px;
  }
  #stylized button{
      clear:both;
      margin-left:150px;
      width:125px;
      height:31px;
      background:#666666 url(img/button.png) no-repeat;
      text-align:center;
      line-height:31px;
      color:#FFFFFF;
      font-size:11px;
      font-weight:bold;
  }
  #app-title {
      color: blue;
      margin: 100px 0px;
  }
</style>
{% end %}

{% block body %}
<div id="app-title">
  <center>
    <h2>广东外语外贸大学</h2>
    <h1>法律信息处理系统语料库管理系统</h1>
  </center>
</div>
{% block subbody %}
{% end %}
{% end %}