{% extends 'base.html' %}

{% block javascripts %}
<script src="/static/js/d3.v2.js"></script>
<script src="/static/js/json2.js"></script>
<script src="/static/js/defs.js"></script>
<script src="/static/js/tree.js"></script>
<script src="/static/js/query.js"></script>
{% end %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/query.css">
<link rel="stylesheet" type="text/css" href="/static/css/stat.css">
<style type="text/css">
  #pending-list {
      margin-top: 20px;
  }
  .src-body {
      display: none;
  }

  .pending-node {
      background-color: #ededee;
      margin: 1px;
      max-width: 1024px;
  }
  .pending-node:hover {
      background-color: #aaaabb;
  }

  .pending-node button, .pending-node select, .pending-node input {
      height: 20px;
      padding: 0px;
      margin: 0px;
      width: auto;
  }
  .ops {
      background-color: #667788;
  }
</style>
{% end %}

{% block body %}
{% include '_doc_dialogs.html' %}
<ol id="pending-list">
  {% if len(meta_list) == 0 %}
  <p>无待审核语料</p>
  {% end %}
  {% for meta in meta_list %}
  <li class="pending-node" metaid="{{str(meta['_id'])}}">
    <div class="ops">
      <select name="corpus">
        <option value="0">语料库</option>
        {% for corpus in corpus_list %}
        <option value="{{corpus['name']}}">{{corpus['name']}}</option>
        {% end %}
      </select>
      <select name="expire">
        <option value="0">有效期</option>
        <option value="1">1年</option>
        <option value="2">2年</option>
        <option value="3">3年</option>
        <option value="5">5年</option>
        <option value="10">10年</option>
      </select>
      <select name="secret">
        <option value="0">保密级别</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select name="score">
      <input type="text" name="score" value="" placeholder="加分" style="width:50px;margin-right:15px;"/>
      <button class="btn-pass" metaid="{{str(meta['_id'])}}">通过</button>
      <button class="btn-kill" metaid="{{str(meta['_id'])}}">不通过</button>
    </div>
    《{{ meta['srcDocName'] }}》
    <button class="btn-show-stat pull-right">统计信息</button>
    <button class="btn-show-taggedsrc pull-right">带标记文档</button>
    <button class="btn-show-src pull-right">文档</button>
    <button class="btn-show-tree pull-right">树</button>
    <pre class="src-body">
      {{ meta['srcDoc'] }}
    </pre>
  </li>
  {% end %}
</ol>

<script type="text/javascript">

  $('.btn-pass').click(function(){
      var self = $(this).parent();
      var metaid = $(this).attr('metaid');
      var corpus = self.find('select[name=corpus]').val();
      var secret = self.find('select[name=secret]').val();
      var expire = self.find('select[name=expire]').val();
      var score = self.find('input[name=score]').val();

      if(corpus == '0') {
          alert('请选择语料库');
          return;
      }

      $.post('/admin/pending', 
             {metaid: metaid, 
              pass: true,
              corpus: corpus,
              secret: secret,
              expire: expire,
              score: score}, 
             function(){ window.location.reload()});
  });

  $('.btn-kill').click(function(){
      var metaid = $(this).attr('metaid');
      $.post('/admin/pending', {metaid: metaid, pass: false}, function(){ window.location.reload()});
  });

  $('.pending-node').click(function(){
      $(this).children('.src-body').toggle();
  });

  $('.pending-node pre').click(function(e){
      e.stopPropagation();
  });

  $('.pending-node .ops').click(function(e){
      e.stopPropagation();
  });

  $('.btn-show-tree').click(function(e){
      var metaid = $(this).parent('li').attr('metaid');
      console.log(metaid);
      on_show_tree(metaid);
      e.stopPropagation();
  });    

  $('.btn-show-src').click(function(e){
      var metaid = $(this).parent('li').attr('metaid');
      on_show_src(metaid);
      e.stopPropagation();
  });

  $('.btn-show-taggedsrc').click(function(e){
      var metaid = $(this).parent('li').attr('metaid');
      on_show_taggedsrc(metaid);
      e.stopPropagation();
  });

  $('.btn-show-stat').click(function(e){
      var metaid = $(this).parent('li').attr('metaid');
      var metaidList = [metaid];
      on_show_stat(metaidList);
      e.stopPropagation();
  });
</script>
{% end %}
