{% extends 'base.html' %}

{% block javascripts %}
<script src="/static/js/d3.v2.js"></script>
<script src="/static/js/json2.js"></script>
<script src="/static/js/defs.js"></script>
<script src="/static/js/tree.js"></script>
<script src="/static/js/query.js"></script>
{% end %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/query.css">
<link rel="stylesheet" type="text/css" href="/static/css/stat.css">
<style type="text/css">
  button {
      vertical-align: top;
  }
  
  #add-form {
      margin: 20px;
  }

  #table {
      width: 50%;
      margin: 0px 20px;
  }
</style>
{% end %}

{% block body %}
<div id="add-form">
  <input id="corpus-name" type="text" name="corpus"/>
  <button id="add-corpus">添加语料</button>
</div>
<table class="table" id="table">
  {% if len(corpus_list) == 0 %}
  <p>无语料库</p>
  {% else %}
  <h3>语料库列表</h3>
  {% end %}
  {% for corpus in corpus_list %}
  <tr class="success">
    <td>{{ corpus['name'] }}</td>
    <td><button class="del-corpus" cid="{{corpus['_id']}}">删除</button></td>
  </tr>
  {% end %}
</table>
<script type="text/javascript">
    $('.del-corpus').click(function(){
        var cid = $(this).attr('cid');
        $.post('/admin/corpus', {action: 'delete', 
                                 cid: cid}, 
               function(){
                   window.location.reload();
               });
    });

  $('#add-corpus').click(function(){
      var corpus = $('#corpus-name').val();
      $.post('/admin/corpus', {action: 'add', corpus: corpus},
             function(){
                   window.location.reload();
             })
  });
</script>
{% end %}
