{% extends 'base.html' %}

{% block javascripts %}
<script src="/static/js/d3.v2.js"></script>
<script src="/static/js/json2.js"></script>
<script src="/static/js/defs.js"></script>
<script src="/static/js/tree.js"></script>
<script src="/static/js/query.js"></script>
{% end %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/query.css">
<link rel="stylesheet" type="text/css" href="/static/css/stat.css">
<style type="text/css">
#a-list {
    width: 60%;
    margin: 40px;
}
</style>
{% end %}

{% block body %}
<table class="table table-bordered" id="a-list">
  <tr>
    <th>邮箱</th>
    <th>用户名</th>
    <th>权限</th>
    <th>操作</th>
  </tr>
  {% for a in admin_list %}  
  <tr>
    <td>{{a['email']}}</td>
    <td>{{a['name']}}</td>
    {% if a['prio'] == 1 %}
    <td>管理员</td>
    {% elif a['prio'] == 2 %}
    <td>普通用户</td>
    {% end %}
    <td>
      {% if user['email'] != a['email'] %}
      <button class="btn-del" email="{{a['email']}}">删除</button>
      {% else %}
      不能删除自己
      {% end %}
    </td>
  </tr>
  {% end %}
  {% for a in user_list %}  
  <tr>
    <td>{{a['email']}}</td>
    <td>{{a['name']}}</td>
    {% if a['prio'] == 1 %}
    <td>管理员</td>
    {% elif a['prio'] == 2 %}
    <td>普通用户</td>
    {% end %}
    <td>
      <button class="btn-del" email="{{a['email']}}">删除</button>
    </td>
  </tr>
  {% end %}
</table>

<script type="text/javascript">
    $('.btn-del').click(function(){
        var email = $(this).attr('email');

        if(confirm('确定删除该用户？')) {
            $.post('/admin/user', 
                   {
                       action: 'del',
                       email: email
                   },
                   function(data){
                       if(data == 'true')
                           window.location.reload();
                       else
                           alert('删除失败');
                   });
        }
    });
</script>
{% end %}

