<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.css">
  <link rel="stylesheet" type="text/css" href="/static/lib/jqueryui/css/black-tie/jquery-ui-1.9.2.custom.min.css">

  <link rel="stylesheet" type="text/css" href="/static/css/anno.css">
  <link rel="stylesheet" type="text/css" href="/static/css/tree.css">

  <script src="/static/js/jquery-1.8.3.min.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/js/underscore.js"></script>
  <script src="/static/lib/jqueryui/js/jquery-ui-1.9.2.custom.min.js"></script>
  <script src="/static/lib/flowplayer/flowplayer.js"></script>
  <link rel="stylesheet" type="text/css"
        href="/static/lib/flowplayer/skin/minimalist.css" />

  {% block javascripts %}
  {% end %}

  {% block style %}
  {% end %}
</head>
<body>
  {% include '_nav.html' %}
  {% block body %}
  {% end %}
</body>
</html>
