{% extends 'base.html' %}

{% block javascripts %}
<script src="/static/js/d3.v2.js"></script>
<script src="/static/js/json2.js"></script>
<script src="/static/js/defs.js"></script>
<script src="/static/js/tree.js"></script>
<script src="/static/js/query.js"></script>
{% end %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/query.css">
<link rel="stylesheet" type="text/css" href="/static/css/stat.css">
<style type="text/css">
  #fav-list {
      margin-top: 20px;
  }
  .src-body {
      display: none;
  }

  .fav-node {
      background-color: #ededee;
      margin: 1px;
      max-width: 1024px;
  }
  .fav-node:hover {
      background-color: #aaaabb;
  }

  .fav-node button {
      height: 18px;
      padding: 0px;
      margin: 0px;
  }
</style>
{% end %}

{% block body %}
{% include '_doc_dialogs.html' %}
<ol id="fav-list">
  {% for meta in meta_list %}
  <li class="fav-node" metaid="{{str(meta['_id'])}}">
    《{{ meta['srcDocName'] }}》
    <small>收藏时间：{{datetime.datetime.fromtimestamp(meta['time']).ctime()}}</small>
    <button class="btn-show-stat pull-right">统计信息</button>
    <button class="btn-show-taggedsrc pull-right">带标记文档</button>
    <button class="btn-show-src pull-right">文档</button>
    <button class="btn-show-tree pull-right">树</button>
    <pre class="src-body">
      {{ meta['srcDoc'] }}
    </pre>
  </li>
  {% end %}
</ol>

<script type="text/javascript">

  $('.fav-node').click(function(){
      $(this).children('.src-body').toggle();
  });

  $('.fav-node pre').click(function(e){
      e.stopPropagation();
  });

  $('.btn-show-tree').click(function(){
      var metaid = $(this).parent('li').attr('metaid');
      console.log(metaid);
      on_show_tree(metaid);
  });    

  $('.btn-show-src').click(function(){
      var metaid = $(this).parent('li').attr('metaid');
      on_show_src(metaid);
  });

  $('.btn-show-taggedsrc').click(function(){
      var metaid = $(this).parent('li').attr('metaid');
      on_show_taggedsrc(metaid);
  });

  $('.btn-show-stat').click(function(){
      var metaid = $(this).parent('li').attr('metaid');
      var metaidList = [metaid];
      on_show_stat(metaidList);
  });
</script>
{% end %}
