{% extends 'base.html' %}

{% block style %}
<style type="text/css">
  #history-list {

  }

  #history-list li {
      background: #ededee;
      margin: 1px;
      max-width: 1024px;
  }
</style>
{% end %}

{% block body %}
<ol id="history-list">
  {% for record in record_list %}
  <li>
    <small>{{datetime.datetime.fromtimestamp(record['time']).ctime()}}:</small>
    {% if len(record['meta_cond']) + len(record['node_cond']) == 1 %}
    <small>任意</small>
    {% end %}
    {% for k,v in record['meta_cond'].iteritems() %}
    {% if k != 'status' %}
    <small>{{string_map[k]}}:</small>{{v}}&nbsp;
    {% end %}
    {% end %}
    {% for k,v in record['node_cond'].iteritems() %}
    <small>{{string_map[k]}}:</small>{{v}}&nbsp;
    {% end %}
  </li>
  {% end %}
</ol>
{% end %}
