{% extends 'account_base.html' %}

{% block subbody %}
<div id="stylized" class="myform">
  <form id="form" name="form" method="post" action="/account/login">
    <h1>登陆</h1>
    <p>{{message}}</p>
    
    <label>Email</label>
    <input type="text" name="email" id="email" />
    
    <label>Password</label>
    <input type="text" name="password" id="password" />
    
    <button type="submit">登陆</button>
    <div class="spacer"></div>
  </form>
</div>
{% end %}
