{% extends 'base.html' %}

{% block javascripts %}
<script src="/static/lib/flowplayer/flowplayer.js"></script>
<script src="/static/js/d3.v2.js"></script>
<script src="/static/js/json2.js"></script>
<script src="/static/js/defs.js"></script>
<script src="/static/js/tree.js"></script>
<script src="/static/js/query.js"></script>
{% end %}

{% block style %}
<link rel="stylesheet" type="text/css"
        href="/static/lib/flowplayer/skin/minimalist.css" />
<link rel="stylesheet" type="text/css" href="/static/css/query.css">
<link rel="stylesheet" type="text/css" href="/static/css/stat.css">
<style type="text/css">
  #obj-list {
      margin-top: 20px;
  }
  .src-body {
      display: none;
  }

  .obj-node {
      background-color: #ededee;
      margin: 1px;
      max-width: 1024px;
  }
  .obj-node:hover {
      background-color: #aaaabb;
  }

  .obj-node button {
      height: 18px;
      padding: 0px;
      margin: 0px;
  }
</style>
{% end %}

{% block body %}
{% include '_doc_dialogs.html' %}
<ol id="obj-list">
  {% for meta in meta_list %}
  <li class="obj-node" metaid="{{str(meta['_id'])}}">
    <span class="label">
      {% if meta['status'] == base.MS_DRAFT %}
      草稿
      {% elif meta['status'] == base.MS_PENDING %}
      待审核
      {% elif meta['status'] == base.MS_PASSED %}
      已入库
      {% elif meta['status'] == base.MS_REFUSED %}
      被拒绝
      {% end %}
    </span>
    《{{ meta['srcDocName'] }}》
    <small>{{datetime.datetime.fromtimestamp(meta.get('upload_time') or 0).ctime()}}</small>
    {% if meta['status'] == base.MS_DRAFT or meta['status'] == base.MS_REFUSED %}
    <button class="btn-del pull-right">删除</button>
    <button class="btn-edit pull-right">继续编辑</button>
    {% else %}
    <button class="btn-show-stat pull-right">统计信息</button>
    <button class="btn-show-taggedsrc pull-right">带标记文档</button>
    <button class="btn-show-src pull-right">文档</button>
    <button class="btn-show-tree pull-right">树</button>
    <button class="btn-show-bodyxml pull-right">文档XML</button>
    <button class="btn-show-headxml pull-right">头xml</button>
    {% end %}
    <pre class="src-body">
      {{ meta['srcDoc'] }}
    </pre>
  </li>
  {% end %}
</ol>

<script type="text/javascript">
    
  $('.btn-edit').click(function(e){
      var metaid = $(this).parent('li').attr('metaid');
      $.post('/personal/mine', 
             {'action': 'edit',
              'metaid': metaid}, 
             function(){
                 window.location.href = '/personal/anno';
             });
      e.stopPropagation();
  });

  $('.btn-del').click(function(e){
      var metaid = $(this).parent('li').attr('metaid');
      $.post('/personal/mine', 
             {'action': 'delete',
              'metaid': metaid}, 
             function(){
                 window.location.reload();
             });
      e.stopPropagation();
  });

  $('.obj-node').click(function(){
      $(this).children('.src-body').toggle();
  });

  $('.obj-node pre').click(function(e){
      e.stopPropagation();
  });

  $('.btn-show-tree').click(function(e){
      var metaid = $(this).parent('li').attr('metaid');
      console.log(metaid);
      on_show_tree(metaid);
      e.stopPropagation();
  });    

  $('.btn-show-src').click(function(e){
      var metaid = $(this).parent('li').attr('metaid');
      on_show_src(metaid);
      e.stopPropagation();
  });

  $('.btn-show-taggedsrc').click(function(e){
      var metaid = $(this).parent('li').attr('metaid');
      on_show_taggedsrc(metaid);
      e.stopPropagation();
  });

  $('.btn-show-bodyxml').click(function(e){
      var metaid = $(this).parent('li').attr('metaid');
      on_show_bodyxml(metaid);
      e.stopPropagation();
  });

  $('.btn-show-headxml').click(function(e){
      var metaid = $(this).parent('li').attr('metaid');
      on_show_headxml(metaid);
      e.stopPropagation();
  });

  $('.btn-show-stat').click(function(e){
      var metaid = $(this).parent('li').attr('metaid');
      var metaidList = [metaid];
      on_show_stat(metaidList);
      e.stopPropagation();
  });
</script>
{% end %}
