<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.css">
  <link rel="stylesheet" type="text/css" href="/static/lib/jqueryui/css/ui-lightness/jquery-ui-1.9.2.custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/tree.css">
  <link rel="stylesheet" type="text/css" href="/static/css/query.css">
  <link rel="stylesheet" type="text/css" href="/static/css/stat.css">

  <script src="/static/js/jquery-1.8.3.min.js"></script>
  <script src="/static/lib/jqueryui/js/jquery-ui-1.9.2.custom.min.js"></script>

  <script src="/static/lib/flowplayer/flowplayer.js"></script>
  <link rel="stylesheet" type="text/css"
        href="/static/lib/flowplayer/skin/minimalist.css" />

  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/js/underscore.js"></script>

  <script src="/static/js/d3.v2.js"></script>
  <script src="/static/js/json2.js"></script>
  <script src="/static/js/defs.js"></script>
  <script src="/static/js/tree.js"></script>
  <script src="/static/js/query.js"></script>

  <style type="text/css">
    body {
        background: #dddeee;
    }
  </style>
</head>
<body>
  {% include '_nav.html' %}
  <div id="conditions">
    <form action="/query" method="get" id="query-form">
      {% if handler.prio != handler.PRIO_GUEST %}
      <table id="doch-cond" class="table table-bordered">
        <thead>
          <tr>
            <th>序列号</th>
            <th>律师A</th>
            <th>律师B</th>
            <th>律师C</th>
            <th>法官</th>
            <th>口译员</th>
            <th>当事人A</th>
            <th>当事人B</th>
            <th>当事人C</th>
            <th>证人A</th>
            <th>证人B</th>
            <th>证人C</th>
            <th>听众</th>
            <th>作者</th>
            <th>引用源</th>
            <th>书记员</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input name="SN" type="text" style="width:130px"/></td>
            <td><input name="lawyerA" type="text"/></td>
            <td><input name="lawyerB" type="text"/></td>
            <td><input name="lawyerC" type="text"/></td>
            <td><input name="judge" type="text"/></td>
            <td><input name="interpreter" type="text"/></td>
            <td><input name="partyA" type="text"/></td>
            <td><input name="partyB" type="text"/></td>
            <td><input name="partyC" type="text"/></td>
            <td><input name="testimonyA" type="text"/></td>
            <td><input name="testimonyB" type="text"/></td>
            <td><input name="testimonyC" type="text"/></td>
            <td><input name="audience" type="text"/></td>
            <td><input name="authorwriter" type="text"/></td>
            <td><input name="quotesource" type="text"/></td>
            <td><input name="recorder" type="text"/></td>
          </tr>
        </tbody>
      </table>
      {% end %}
      <table class="table table-bordered">
        <thead>
          <tr>
            {% if handler.prio != handler.PRIO_GUEST %}
            <th>父X</th>
            <th>父Y</th>
            <th>子X</th>
            <th>子Y</th>
            <th>信息元素</th>
            <th>信息点值</th>
            <th>默认值</th>
            <th>信息源</th>
            <th>被引用者</th>
            <th>L信息</th>
            <th>R[0]</th>
            <th>R[1]</th>
            <th>R[2]</th>
            <th>R[3]</th>
            {% end %}
            <th>关键字</th>
            {% if handler.prio != handler.PRIO_GUEST %}
            <th>Cate</th>
            <th>编号</th>
            <th>源序号</th>
            <th>名称</th>
            <th>值</th>
            {% end %}
          </tr>
        </thead>
        <tbody>
          <tr>
            {% if handler.prio != handler.PRIO_GUEST %}
            <td><input name="pos0" type="text"/></td>
            <td><input name="pos1" type="text"/></td>
            <td><input name="pos2" type="text"/></td>
            <td><input name="pos3" type="text"/></td>
            <td>
              <select name="infoElement" id="infok-element">
	        <option value=""></option>
	        <option>KN</option>
	        <option>WT</option>
	        <option>WB</option>
	        <option>WF</option>
	        <option>WI</option>
	        <option>WP</option>
	        <option>WO</option>
	        <option>WN</option>
	        <option>WR</option>
	        <option>HW</option>
	        <option>WY</option>
	        <option>WE</option>
	        <option>WC</option>
	        <option>WA</option>
	        <option>WG</option>
	        <option>WJ</option>
              </select>
            </td>
            <td>
              <select name="infoValue" id="infok-value">
	        <option value=""></option>
	        <option>P</option>
	        <option>N</option>
	        <option>O</option>
              </select>
            </td>
            <td><input name="defaultValue" type="text"/></td>
            <td>
              <select name="src" id="infok-src">
	        <option value=""></option>
	        <option>A</option>
	        <option>B</option>
	        <option>C</option>
	        <option>J</option>
	        <option>j</option>
	        <option>I</option>
	        <option>O</option>
	        <option>S</option>
	        <option>P</option>
	        <option>Q</option>
	        <option>R</option>
	        <option>V</option>
	        <option>T</option>
	        <option>D</option>
	        <option>N</option>
	        <option>Z</option>
              </select>
            </td>
            <td>
              <select name="ref" id="infok-ref">
	        <option value=""></option>
	        <option>A</option>
	        <option>B</option>
	        <option>C</option>
	        <option>J</option>
	        <option>j</option>
	        <option>I</option>
	        <option>O</option>
	        <option>S</option>
	        <option>P</option>
	        <option>Q</option>
	        <option>R</option>
	        <option>V</option>
	        <option>T</option>
	        <option>D</option>
	        <option>N</option>
	        <option>Z</option>
              </select>
            </td>
            <td>
              <select name="L" id="infok-l">
	        <option value=""></option>
	        <option>A</option>
	        <option>B</option>
	        <option>C</option>
	        <option>E</option>
	        <option>O</option>
	        <option>D</option>
	        <option>a</option>
	        <option>b</option>
	        <option>c</option>
	        <option>e</option>
	        <option>o</option>
	        <option>d</option>
	        <option>R</option>
	        <option>S</option>
	        <option>T</option>
	        <option>Y</option>
	        <option>Z</option>
	        <option>U</option>
              </select>
            </td>
            <td><input name="R0" type="text"/></td>
            <td><input name="R1" type="text"/></td>
            <td><input name="R2" type="text"/></td>
            <td><input name="R3" type="text"/></td>
            {% end %}
            <td><input name="keyword" type="text" style="width: 150px"/></td>
            {% if handler.prio != handler.PRIO_GUEST %}
            <td>~</td>
            <td><input name="cateIndex"/></td>
            <td><input name="cateSrcIndex"/></td>
            <td><input name="cateInfoElementName"/></td>
            <td><input name="cateInfoElementValue"/></td>
            {% end %}
          </tr>
        </tbody>
      </table>
    </form>
    <div style="clear: both"> </div>
  </div>
  <div id="bottom-half">
    <div id="filter-conditions">
      <form id="option-form">
        <div id="options">
          <div class="c-line">
            <span>每页(per page)</span>
            <select name="perPage" class="clean">
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="40">40</option>
              <option value="50">50</option>
            </select>
          </div>
          <div class="c-line">
            <span>扩展(span)</span>
            <select name="spanWords">
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10" selected="selected">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="15">15</option>
              <option value="20">20</option>
            </select>
          </div>
          <div class="c-line">
            <span>类型(CT)</span>
            <select name="CT">
              <option value=""></option>
              <option value="Criminal">Criminal</option>
              <option value="Non-criminal">Non-criminal</option>
              <option value="Arbitration">Arbitration</option>
              <option value="Other">Other</option>
            </select>
          </div>
          <div class="c-line">
            <span>语言(LG)</span>
            <select name="LG">
              <option value=""></option>
              <option value="Chinese">Chinese</option>
              <option value="English">English</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </div>
      </form>
      <center>
        <button id="btn-submit">检索</button>
      </center>
      <br/>
      <br/>
      <hr/>
      <div>
        <input type="text" id="text-keyword" name="text-keyword"/>
      </div>
      <center>
        <button id="btn-submit">正文检索</button>
      </center>
    </div>
    
    <div id="result">
      结果(Results)： <span id="result-count" class="pull-right"></span>
      <ul class="nav" id="result-list">
      </ul>
      <div>
        <center class="pag">
          <a class="btn-prev pull-left">上页(prev)</a>
          第<select></select>页(page)
          <a class="btn-next pull-right">下页(next)</a>
        </center>
      </div>
    </div>
    <div style="clear: both"></div>
  </div>
  
  {% include '_doc_dialogs.html' %}

  <div id="action-menu" class="popup-menu">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="#" class="btn-show-src">查看原文</a></li>
      {% if handler.prio != handler.PRIO_GUEST %}
      <li><a href="#" class="btn-show-taggedsrc">查看带标记原文</a></li>
      <li><a href="#" class="btn-show-tree">查看树结构</a></li>
      {% end %}
    </ul>
  </div>
  <script type="text/javascript">
    var cur_page = 0;
    var total_page = 0;
    var conds = null;

    var currentLi = null;
    var pageLis = {};

    $('.pag .btn-prev').click(function(){
        if(cur_page > 0) {
            cur_page--;
            if(typeof pageLis[cur_page] == 'undefined') {
                $('#btn-submit').trigger('click');
            }
            else {
                $('#result-list').html(pageLis[cur_page]);
                bindResultEvent();
            }
        }
    });

    $('.pag .btn-next').click(function(){
        if(cur_page+1 < total_page) {
            cur_page++;
            if(typeof pageLis[cur_page] == 'undefined') {
                $('#btn-submit').trigger('click');
            }
            else {
                $('#result-list').html(pageLis[cur_page]);
                bindResultEvent();
            }
        }
    });

    $('.pag select').bind('change', function(){
        cur_page = parseInt($(this).attr('value'));
        $('#btn-submit').trigger('click');
    });

    function bindResultEvent() {
        $('#result-list li[metaid] .content').click(function(e){
            $('#action-menu').css('left', e.pageX);
            $('#action-menu').css('top', e.pageY);
            currentLi = $(this).parent('li[metaid]');
            $('.content').removeClass('curr');
            $(this).addClass('curr');
            event.stopPropagation();
        });
        
        $('#result-list').click(function(e){
            $('#action-menu').css('left', -3000);
        });

        $('#result .checkbox-select-all').bind('change', function(){
            var checked = $(this).attr('checked');

            if(typeof checked == 'undefined') {
                $('#result-list input[type="checkbox"]').removeAttr('checked');
            }
            else {
                $('#result-list input[type="checkbox"]').attr('checked', 'checked');
            }
        });

        $('#result-list input[type="checkbox"]').change(function(){
            var checked = $(this).attr('checked');

            if(typeof checked == 'undefined') {
                $(this).removeAttr('checked');
            }
            else {
                $(this).attr('checked', 'checked');
            }
            pageLis[cur_page] = $('#result-list').html();
        });

        $('#result .btn-stat').click(function(){
            metaidList = [];

            for(var p in pageLis) {
                var lis = $('<div>').html(pageLis[p]).children('li');

                lis.each(function(){
                    if(typeof $(this).children('input[type=checkbox]').attr('checked') != 'undefined') {
                        var metaid = $(this).attr('metaid');
                        console.log(metaid);
                        metaidList.push(metaid);
                    }
                });
            }

            on_show_stat(metaidList);
        });
    }

    function fillResult(data) {
        console.log(data);
        $('#result-count').text(data.node_count+'个');
        
        if(data.nodes.length > 0) {
            $('#result-list').append('<li metaid=""><input class="checkbox-select-all" type="checkbox"/><strong>全选</strong>&nbsp;&nbsp;&nbsp;<button class="btn-stat">统计</button></li>');
        }

        for(var i = 0; i < data.nodes.length; i++) {
            var content = '';
            var left = data.nodes[i].leftNodes;
            for(var j = 0; j < left.length; j++) {
                content += ' ' + left[j].name + ' ';
            }
            content += '<b>' + data.nodes[i].name + '</b>';
            var right = data.nodes[i].rightNodes;
            for(var j = 0; j < right.length; j++) {
                content += ' ' + right[j].name + ' ';
            }                
            $('#result-list').append('<li metaid="'+data.nodes[i].metaid+'"><input type="checkbox"/><strong>'+(i+data.start_index)+':</strong><span class="content">'+content+'</span></li>');
        }

        pageLis[cur_page] = $('#result-list').html();
        
        total_page = data.page_count;
        $('.pag select').html('');
        for(var i=0; i < total_page; i++) {
            if(i != cur_page)
                $('.pag select').append('<option value="'+i+'">'+(i+1)+'</option>');
            else
                $('.pag select').append('<option selected="selected" value="'+i+'">'+(i+1)+'</option>');
        }
        
        bindResultEvent();
    }
    
    $('.btn-show-tree').click(function(){
        var metaid = currentLi.attr('metaid');
        on_show_tree(metaid);
    });    
    $('.btn-show-src').click(function(){
        var metaid = currentLi.attr('metaid');
        on_show_src(metaid);
    });
    $('.btn-show-taggedsrc').click(function(){
        var metaid = currentLi.attr('metaid');
        on_show_taggedsrc(metaid);
    });

    $('#btn-text-query').click(function(){
        $('#result-list').html('');
        var keyword = $('input#text-keyboard').val();
        $.post('/query/text', {textKeyword: keyword}, function(data) {
            fillResult(data);
        });
    });
    
    $('#btn-submit').click(function(){
        var query_args = $('#query-form').serialize();
        var option_args = $('#option-form').serialize();

        var args = query_args + '&' + option_args;
        conds = args;

        args = 'page='+cur_page+'&'+args;
        console.log(args);

        $('#result-list').html('');
        $.post('/query', args, function(data) {
            fillResult(data);
        });
    });

    $('.btn-fav').click(function(){
        var metaid = $(this).attr('metaid');
        $.post('/personal/fav', {metaid: metaid}, function(data){
            if(data.result) {
                alert('收藏成功');
            }
            else {
                alert('收藏失败');
            }
        });
    });
  </script>
</body>
</html>
