{% extends 'account_base.html' %}


{% block subbody %}
<div id="stylized" class="myform">
  {% if not success %}
  <form id="form" name="form" method="post" action="/account/register">
    <h1>注册</h1>
    <p>{{message}}</p>

    <label>Name
      <span class="small">中文或英文</span>
    </label>
    <input type="text" name="name" id="email" />
    
    <label>Email
      <span class="small">请输入有效的邮箱地址</span>
    </label>
    <input type="text" name="email" id="email" />
    
    <label>Password
      <span class="small">最短6位</span>
    </label>
    <input type="text" name="password" id="password" />
    
    <button type="submit">注册</button>
    <div class="spacer"></div>
  </form>
  {% else %}
  <form id="form" name="form" method="post" action="/account/login">
    <h1>注册成功</h1>
    <p>马上登陆</p>

    <label>Email</label>
    <input type="text" name="email" id="email" />
    
    <label>Password</label>
    <input type="text" name="password" id="password" />
    
    <button type="submit">登陆</button>
    <div class="spacer"></div>
  </form>
  {% end %}
</div>
{% end %}
