<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.css">
  <link rel="stylesheet" type="text/css" href="/static/lib/jqueryui/css/smoothness/jquery-ui-1.8.21.custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/tree.css">
  <link rel="stylesheet" type="text/css" href="/static/css/query.css">
  <link rel="stylesheet" type="text/css" href="/static/css/stat.css">

  <script src="/static/js/jquery-1.7.1.js"></script>
  <script src="/static/lib/jqueryui/js/jquery-ui-1.8.21.custom.min.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/js/underscore.js"></script>

  <script src="/static/js/d3.v2.js"></script>
  <script src="/static/js/json2.js"></script>
  <script src="/static/js/defs.js"></script>
  <script src="/static/js/tree.js"></script>
  <script src="/static/js/query.js"></script>
  <style type="text/css">

    #corpus-cond {
        float: left;
        margin-top: 5px;
    }

    #conditions form {
        padding: 0px;
        margin: 0px;
    }

    #conditions .table {
        float: left;
    }

    #corpus-cond select {
        width: auto;
        height: auto;
        padding: 1px;
        margin: 1px;
    }
  </style>
</head>
<body>
  {% include '_nav.html' %}
  <div id="conditions">
    <form id="form-cond">
      {% include '_infok_table.html' %}
      <div id="corpus-cond">
        <span>语料库(CT)</span>
        <select name="CT">
          <option value=""></option>
          <option value="Criminal">Criminal</option>
          <option value="Non-criminal">Non-criminal</option>
          <option value="Arbitration">Arbitration</option>
          <option value="Other">Other</option>
        </select>
        <br/>
        <span>语言(LG)</span>
        <select name="LG">
          <option value=""></option>
          <option value="Chinese">Chinese</option>
          <option value="English">English</option>
          <option value="Other">Other</option>
        </select>
        <input type="hidden" name="form.submit" value="submit"/>
      </div>
    </form>
    <button class="pull-right" id="btn-stat">统计</button>
    <br style="clear:both"/>
  </div>
  {% include '_stat_result.html' %}
</body>
<script type="text/javascript">
  $('#btn-stat').click(function(e){
      var self = $(this);
      self.button('loading');
      $('#stat-info').html('');

      var args = $('#form-cond').serialize();
      $.post('/stat', args, function(data){
          $('#stat-info').html(data);
          self.button('reset');
      });
      event.stopPropagation();
  });
</script>
</html>
