<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.css">
  <link rel="stylesheet" type="text/css" href="/static/lib/jqueryui/css/black-tie/jquery-ui-1.9.2.custom.css">

  <link rel="stylesheet" type="text/css" href="/static/css/anno.css">
  <link rel="stylesheet" type="text/css" href="/static/css/tree.css">

  <script src="/static/js/jquery-1.8.3.min.js"></script>

  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/js/underscore.js"></script>
  <script src="/static/js/d3.v2.js"></script>
  <script src="/static/js/json2.js"></script>
  <script src="/static/js/cookie.js"></script>

  <script src="/static/lib/jstree/jquery.jstree.js"></script>
  <script src="/static/lib/jqueryui/js/jquery-ui-1.9.2.custom.min.js"></script>

  <script src="/static/lib/flowplayer/flowplayer.js"></script>
  <link rel="stylesheet" type="text/css"
        href="/static/lib/flowplayer/skin/minimalist.css" />

  <script src="/static/js/defs.js"></script>
  <script src="/static/js/range.js"></script>
  <script src="/static/js/tree.js"></script>
  <script src="/static/js/trans.js"></script>
  <script src="/static/js/anno.js"></script>

  <script type="text/javascript">
    window.onbeforeunload = function(){
    //    return '请确定已经保存，否则将丢失标注信息';
    }
  </script>
</head>
<body>
  <div id="header-message" style="position: fixed; top:0px; width: 100%">
    <center>
      &nbsp;
      <span id="error-message" class="label label-warning"></span>
      <span id="message" class="label label-success"></span>
      <center>
  </div>
  {% include '_nav.html' %}
  <div id="anno">
    {% if metaid %}
    <h4>正在标注《{{meta['srcDocName']}}》：</h4>
    {% end %}
    <div id="text-body">
      {% if metaid %}
      <pre class="source" style="">{% raw meta.get('taggedSrc') or meta['srcDoc']%}</pre>
      {% else %}
      <span class="label" style="">未上传文档</span>
      {% end %}
    </div>
    <div id="action-panel">
      <div class="btn-toolbar">
        <button id="btn-node-container" class="btn">节点</button>
        <button id="btn-tree-container" class="btn">树</button>
        <button id="btn-tree-canvas" class="btn">图</button>
        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            文档头
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a id="btn-doch-normal" href="#">文档头</a>
              <a id="btn-doch" href="#">详细文档头</a>
            </li>
          </ul>
        </div>
        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            生成
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a id="btn-gen" href="#">察看文档XML</a>
              <a id="btn-gen-doch" href="#">察看文档头XML</a>
              <a id="btn-store" metaid="{{metaid}}" href="#">保存数据到网络</a>
            </li>
          </ul>
        </div>
        <button id="btn-save-draft" class="btn">存草稿</button>
      </div>
      <div id="cur-tag"></div>
      <span class="label label-info">标记路径</span>
      <div id="cur-pos" class="alert alert-info">
        未选择路径
      </div>
      <hr/>
      <button id="btn-check" class="btn">提示</button>
      <button id="btn-actions" class="btn">动作</button>
      <button id="btn-change-doc" class="btn">更换文档</button>
      <hr/>
      <span class="label label-info">视频</span>【当前时间：<span class="video-current-time">未设置</span>】
      <form id="video-upload" action="/video" method="post" enctype="multipart/form-data">
        <input type="file" name="vfile"/>
        <input type="submit" value="重新上传视频"/>
      </form>
      {% if vfile %}
      <div class="player">
        <video>
          <source src="/static/video/{{vfile}}"/>
        </video>
      </div>
      <script type="text/javascript">
        $(function() {
            // time to load video
            function setupPlayer() {
                $(".player").flowplayer({ swf: "/static/lib/flowplayer/flowplayer.swf", engine: 'flash'});
                
                videoAPI = flowplayer();
                videoAPI.bind("seek", function(e, a){
                    clearTimeout(videoStopTimeout);
                    currentTime = a.video.time;
                    $('.video-current-time').text(currentTime || '未设置');
                });
                
                hasVideo = true;
                
                $('#video-upload').submit(function(){
                    if(!$('#video-upload input[name=vfile]').val())
                        return false;
                });
            }
            setupPlayer();
            // refresh();
            setTimeout(setupPlayer, 2000);
        });
      </script>
      {% end %}
    </div>
  </div>

  <div id="dialog-upload-src" style="display:none">
    <form action="/upload" method="post" enctype="multipart/form-data">
      <label>TXT文件：</label>
      <input type="file" name="srcfile"/><br/>
      <label>视频文件mp4(可选)：</label>
      <input type="file" name="vfile"/><br/><br/>
      <center>
        <input type='submit' value="上传">
      </center>
    </form>
  </div>

  <div id="dialog-select-suite" style="display:none">
    <div class="control-group">
      <label class="control-label" for="suite">选择最底层元素类型</label>
      <div class="controls">
        <select id="select-suite">
	  <option value="1">Elev</option>
	  <option value="2">uu</option>
        </select>
        <center>
          <button id="btn-select-suite" class="btn btn-primary">确定</button>
        </center>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(function(){
        $('#dialog-select-suite').dialog({
            autoOpen: false,
            title: '选择标注类型',
            modal: true
        });
        
        $('#btn-select-suite').click(function(){
            var n = $('#select-suite').attr('value');
            
            if(n == '1') {
                tagSuite = tagSuite1;
            }
            else if(n == '2') {
                tagSuite = tagSuite2;
            }
            
            $('#dialog-select-suite').dialog('close');
        });
        
        {% if metaid %}
        $('#dialog-select-suite').dialog('open');
        $('#dialog-upload-src').dialog({
            autoOpen: false,
            title: '选择要标注的文件',
            modal: true
        });
        {% else %}
        $('#dialog-upload-src').dialog({
            autoOpen: true,
            title: '选择要标注的文件',
            modal: true
        });
        {% end %}
    });
  </script>

  <div id="dialog-debug">
    <div id="debug-panel">
      <div id="debug" class="alert alert-info"></div>
    </div>
  </div>
  
  <div id="dialog-actions">
    <div id="actions">
    </div>
  </div>

  <div id="dialog-set-video" style="display:none">
    <div class="alert" id="video-dialog-status">未保存</div>
    <div id="set-video">
      开始时间：<span class="video-start-time"></span> <br/>
      结束时间：<span class="video-end-time"></span> <br/>
      当前时间：<span class="video-current-time"></span><br/>
      <hr/>
      <button class="btn btn-primary btn-start-time">设置开始时间</button>
      <button class="btn btn-primary btn-end-time">设置结束时间</button>
      <button class="btn btn-play-video">播放</button>
      <hr/>
      <span>模态：</span>
      <select id="video-model-type" style="width:50px">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>&nbsp;&nbsp;
      <span>类别：</span>
      <select id="video-class" style="width:50px">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select><br/>
      <button id="btn-save-video-info">保存</button>
    </div>
  </div>
  
  <div id="dialog-node-container" style="display:none">
    <div id="node-container">
      {% if meta.get('tree_draft') and False %}
      {% raw meta['tree_draft']['node_html'] %}
      {% else %}
      <ul>
      </ul>
      {% end %}
    </div>
  </div>
  
  <div id="dialog-tree-container" style="display:none">
    <div id="tree-container">
      {% if meta.get('tree_draft') and False %}
      {% raw meta['tree_draft']['tree_html'] %}
      {% else %}
      <ul>
        <li><a href="#">根(Ke)</a></li>
      </ul>
      {% end %}
    </div>
  </div>
  
  <div id="dialog-tree-canvas">
    <div id="tree-canvas">
    </div>
  </div>
  
  <div id="dialog-result">
    <div id="result"></div>
  </div>

  <script type="text/template" id="select-tpl">
    <div class="control-group">
      <label class="control-label" for="input-<%= name %>"><small>(<%= name %>) </small><%= desc %></label>
      <div class="controls">
        <select id="infok-element" name="<%= name %>" class="doch-select input-medium">
          <% _.each(opts, function(op){ %>
	  <option><%= op %></option>
          <% }); %>
        </select>
      </div>
    </div>
  </script>

  <script type="text/template" id="input-tpl">
    <div class="control-group">
      <label class="control-label" for="input-<%= name %>"><small>(<%= name %>) </small><%= desc %></label>
      <div class="controls">
        <input type="text" name="<%= name %>" class="doch-input input-xlarge" id="input-<%= name %>">
      </div>
    </div>
  </script>

  <script type="text/template" id="cate-p-select">
    <option value="S">S</option>
    <option value="Q">Q</option>
    <option value="R">R</option>
    <option value="A">A</option>
    <option value="C">C</option>
    <option value="T">T</option>
    <option value="B">B</option>
    <option value="N">N</option>
  </script>

  <script type="text/template" id="cate-e-select">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </script>

  <script type="text/template" id="cate-c-select">
    <option value="i">i</option>
    <option value="l">l</option>
    <option value="s">s</option>
    <option value="g">g</option>
    <option value="c">c</option>
    <option value="t">t</option>
    <option value="a">a</option>
    <option value="w">w</option>
    <option value="o">o</option>
  </script>

  <script type="text/javascript">
    $(function(){

        function addInputField_doch(args) {
            $('#doch fieldset').append(
                _.template($('#input-tpl').html())({name: args[0], desc: args[1]})
            );
        }

        function addInputField_dochNormal(args) {
            $('#doch-normal fieldset').append(
                _.template($('#input-tpl').html())({name: args[0], desc: args[1]})
            );
        }

        function addSelectField_doch(args) {
            $('#doch fieldset').append(
                _.template($('#select-tpl').html())({name: args[0], desc: args[1], opts: args[2]})
            );
        }

        function addSelectField_dochNormal(args) {
            $('#doch-normal fieldset').append(
                _.template($('#select-tpl').html())({name: args[0], desc: args[1], opts: args[2]})
            );
        }

        _.map([['T', '标题'],
               ['Ku', '核心命题关键字'],
               ['SN', '序列号']
              ], 
              addInputField_doch);
        _.map([['T', '标题'],
               ['Ku', '核心命题关键字'],
               ['SN', '序列号']
              ], 
              addInputField_dochNormal);

        _.map([['CT', '案件类型', ['Criminal', 'Non-criminal', 'Arbitration', 'Other']],
               ['LG', '语言', ['Chinese', 'English', 'Other']],
               ['ST', '源文/目标文', ['Source', 'Trans', 'PairContrast', 'Compare']]
              ],
              addSelectField_doch);

        _.map([['CT', '案件类型', ['Criminal', 'Non-criminal', 'Arbitration', 'Other']],
               ['LG', '语言', ['Chinese', 'English', 'Other']],
               ['ST', '源文/目标文', ['Source', 'Trans', 'PairContrast', 'Compare']]
              ],
              addSelectField_dochNormal);

        _.map([['lawyerA', '律师'],
               ['lawyerB', '律师'],
               ['lawyerC', '律师'],
               ['judge', '法官'],
               ['interpreter', '口译员'],
               ['partyA', '当事人'],
               ['partyB', '当事人'],
               ['partyC', '当事人'],
               ['testimonyA', '证人'],
               ['testimonyB', '证人'],
               ['testimonyC', '证人'],
               ['audience', '听众'],
               ['authorwriter', '作者'],
               ['quotesource', '引用源'],
               ['recorder', '书记员'],
               ['casename', '案件名称']
              ], 
              addInputField_doch);

        _.map([['lawyerA', '律师'],
               ['lawyerB', '律师'],
               ['lawyerC', '律师'],
               ['judge', '法官'],
               ['interpreter', '口译员'],
               ['partyA', '当事人'],
               ['partyB', '当事人'],
               ['partyC', '当事人'],
               ['testimonyA', '证人'],
               ['testimonyB', '证人'],
               ['testimonyC', '证人'],
               ['audience', '听众'],
               ['authorwriter', '作者'],
               ['quotesource', '引用源'],
               ['recorder', '书记员']
              ], 
              addInputField_dochNormal);

        _.map([['caselevel', '案件级别', ['High', 'Intermediate', 'Low', 'None']]
              ],
              addSelectField_doch);

        _.map([['casetime', '案件时间'],
               ['collector', '收集者'],
               ['collectplace', '收集处'],
               ['collecttime', '收集时间'],
               ['datalength', '数据长度']
              ], 
              addInputField_doch);

        _.map([['dataclass', '数据类型', [1, 2, 3, 4, 5, 6, 7]],
               ['original', '源', ['Yes', 'No']],
               ['transcription', '是否转写', ['Yes', 'No', 'Elsewhere']],
               ['modified', '是否修改', ['Yes', 'No', 'Elsewhere']],
               ['infotagged', '是否标注', ['Yes', 'No', 'Elsewhere']],
               ['transtagged', '译文标注', ['Yes', 'No', 'Elsewhere']],
              ],
              addSelectField_doch);

        _.map([['whotagged', '标注者'],
               ['otherlinks', '其他链接']
              ], 
              addInputField_doch);

        function bind_info_element(infoSel, elementSel) {
            $(infoSel).bind('change', function(e) {
                var info = $(this).attr('value');

                if(info == 'p') {
                    $(elementSel).html($('#cate-p-select').html());
                }
                else if(info == 'e') {
                    $(elementSel).html($('#cate-e-select').html());
                }
                else if(info == 'c') {
                    $(elementSel).html($('#cate-c-select').html());
                }
            });
        }

        bind_info_element('#select-cate-info', '#select-cate-element');

        $('#select-cate-info').trigger('change');
    });
  </script>
  
  <div id="dialog-doch">
    <form id="doch" class="form-horizontal">
      <fieldset>
        <legend>详细DocH<small>（未保存）</small></legend>
      </fieldset>
      <center>
        <button id="btn-save-doch" class="btn btn-primary">保存</button>
      </center>
    </form>
  </div>

  <div id="dialog-doch-normal">
    <form id="doch-normal" class="form-horizontal">
      <fieldset>
        <legend>DocH<small>（未保存）</small></legend>
      </fieldset>
      <center>
        <button id="btn-save-doch-normal" class="btn btn-primary">保存</button>
      </center>
    </form>
  </div>

  <div id="dialog-cate">
    <form id="cate" class="form-horizontal">
      <fieldset>
        <legend>Cate</legend>
        <div class="control-group">
          <label class="control-label" for="input-cate-srcindex">源文序号</label>
          <div class="controls">
            <select class="cate-select input-xlarge" id="select-cate-src-index">
              <option value="0">0</option>
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="input-cate-info">信息元素</label>
          <div class="controls">
            <select name="cate-info" class="cate-select input-xlarge" id="select-cate-info">
              <option value="p">p（过程）</option>
              <option value="e">e（个体）</option>
              <option value="c">c（环境）</option>
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="input-cate-element">信息成分</label>
          <div class="controls">
            <select name="cate-element" class="cate-select input-xlarge" id="select-cate-element">
            </select>
          </div>
        </div>
      </fieldset>
      <center>
        <button id="btn-save-cate" class="btn btn-primary">保存</button>
      </center>
    </form>
  </div>

  <div id="dialog-infok">
    <form id="infok" class="well">
      <legend>InfoK</legend>
      <select id="infok-element" class="input-medium">
	<option>信息元素</option>
	<option>KN</option>
	<option>WT</option>
	<option>WB</option>
	<option>WF</option>
	<option>WI</option>
	<option>WP</option>
	<option>WO</option>
	<option>WN</option>
	<option>WR</option>
	<option>HW</option>
	<option>WY</option>
	<option>WE</option>
	<option>WC</option>
	<option>WA</option>
	<option>WG</option>
	<option>WJ</option>
      </select>
      <select id="infok-value" class="input-medium">
	<option>信息点值</option>
	<option>P</option>
	<option>N</option>
	<option>O</option>
      </select>
      <input id="infok-default" type="text" value="0" class="input-medium" placeholder="默认值"/>
      <select id="infok-src" class="input-medium">
	<option>信息源</option>
	<option>A</option>
	<option>B</option>
	<option>C</option>
	<option>J</option>
	<option>j</option>
	<option>I</option>
	<option>O</option>
	<option>S</option>
	<option>P</option>
	<option>Q</option>
	<option>R</option>
	<option>V</option>
	<option>T</option>
	<option>D</option>
	<option>N</option>
	<option>Z</option>
      </select>
      <select id="infok-ref" class="input-medium">
	<option>被引用者</option>
	<option>A</option>
	<option>B</option>
	<option>C</option>
	<option>J</option>
	<option>j</option>
	<option>I</option>
	<option>O</option>
	<option>S</option>
	<option>P</option>
	<option>Q</option>
	<option>R</option>
	<option>V</option>
	<option>T</option>
	<option>D</option>
	<option>N</option>
	<option>Z</option>
      </select>
      <select id="infok-l" class="input-medium">
	<option>L信息</option>
	<option>A</option>
	<option>B</option>
	<option>C</option>
	<option>E</option>
	<option>O</option>
	<option>D</option>
	<option>a</option>
	<option>b</option>
	<option>c</option>
	<option>e</option>
	<option>o</option>
	<option>d</option>
	<option>R</option>
	<option>S</option>
	<option>T</option>
	<option>Y</option>
	<option>Z</option>
	<option>U</option>
      </select>
      <input id="infok-r" type="text" value="0,0,0,0" class="input-medium" placeholder="R信息"/>
      <input id="infok-keyword" type="text" class="input-medium" placeholder="关键词"/>
      <center>
        <button id="btn-save-infok" class="btn btn-primary">保存</button>
      </center>
    </form>
  </div>
  <script type="text/javascript">
    $('.hover-infok').children().unwrap();
    {% if meta.get('tree_draft') %}
//    idx = {{meta['tree_draft']['idx']}};
    {% end %}
  </script>
</body>
</html>
